<%= link_to "Sign Up", new_user_registration_path%>
<%= link_to "Login", new_user_session_path %>
<h1>Tweets</h1>
<% @random_tweets.each do |tweet| %>
  <div class="tweet">
    <p><%= tweet.content %></p>
  </div>
<% end %>
