<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <dl class="row">
      <dt class="col-sm-3"><%= link_to "Edit my profile", edit_web_user_url(@user), class: "btn btn-custom" %> </dt>
      <dt class="col-sm-3"><%= button_to "Delete my account", new_web_user_path(@user), class: "btn btn-danger", method: :delete %> </dt>
  <dl>
</div>
