<p style="color: green"><%= notice %></p>

<h1>Feed</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", web_tweets_path(tweet) %>
    </p>
  <% end %>
</div>

<%= link_to "New tweet", new_web_tweet_path %>
